/* Page chapitre */

/* Chapitre affiché */

#current-chapter {
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.current-chapter-img {
    height: 550px;
    margin-bottom: 50px;
}

.current-chapter-datetime {
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    margin-bottom: 35px;
    letter-spacing: 0.1rem;
}

.current-chapter-text {
    margin-bottom: 30px;
}

/* Formulaire des commentaires */

#current-chapter-comments {
    padding-bottom: 80px;
    border-bottom: none;
}

/* /* textarea[name=monTexte]
{
 resize : both;
 min-width : 100px;
 min-height : 100px;
 max-width : 200px;
 max-height : 200px;
} */
