/* Section 2 de l'accueil (liste des 6 avant-derniers chapitres publiés) */

#previous-chapters-list {
    margin-bottom: 70px;
}

#previous-chapters-list .chapter-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#previous-chapters-list .previous-chapter {
    width: calc(33.33333% - 3em); /* Etend sur toute la largeur tout en définissant un espace entre chacun */
    margin-bottom: 90px;
}

#previous-chapters-list .previous-chapter img {
    height: 60%;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 20px;
}

#previous-chapters-list .previous-chapter p {
    margin-bottom: 20px;
    overflow: hidden;
    max-height: 90px;
}