/* Header */

header,
header #logo,
header .social-icons ul {
    display: flex;
    align-items: flex-end;
}

header {
    height: 155px;
    border-bottom: 5px solid #f56a6a;
    margin-bottom: 100px;
    justify-content: space-between;
}

header p, header .social-icons {
    padding-bottom: 20px;
}

header #logo p, header #logo strong {
    font-size: 1.1rem;
    font-family: "Roboto Slab", serif;
}

header a, header #logo img {
    display: block;
    border: none;
}

header #logo img {
    -webkit-filter: opacity(73%);
            filter: opacity(73%);
}

header #logo a {
    padding: 0 10px 5px 0;
}

header .social-icons ul {
    justify-content: space-between;
    width: 200px;
}

header .social-icons i {
    font-size: 1.5rem;
}

/***
**** MEDIA QUERIES ****
***/

@media screen and (max-width: 1439px) { /* HIDPI */

    header {
        height: 125px;
        margin-bottom: 70px;
    }

    header .social-icons ul {
        width: 140px;
    }

    header .social-icons i {
        font-size: 1.4rem;
    }

    header #logo img {
        width: 140px;
    }
}

@media screen and (max-width: 1199px) { /* Tablettes */
    header #logo p, header #logo strong {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) { /* Smartphones */

    header {
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: space-around;
        margin-bottom: 35px;
    }

    header #logo p, header #logo strong {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    header .social-icons ul {
        width: 130px;
    }

    header #logo img {
        display: none;
    }

    header p, header .social-icons {
        padding-bottom: 0;
    }    

    header #logo {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {  /* Extra small */

    header #logo strong {
        font-size: 0.95rem;
    }

    header .book-author {
        font-size: 0.65rem;
    }
}

