/* Section 1 de l'accueil (dernier chapitre publié) */

#last-chapter {
    display: flex;
    justify-content: space-between;
    height: 600px;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.last-chapter-text {
    width: 45%;
}

.last-chapter-datetime {
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    margin-bottom: 35px;
    letter-spacing: 0.1rem;
}

.last-chapter-img {
    width: 50%;
}

.last-chapter-extract {
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 35px;
}

/***
**** MEDIA QUERIES ****
***/

@media screen and (max-width: 1439px) { /* HIDPI */

    #last-chapter {
        height: 550px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px) { /* Smartphones */
    #last-chapter {
        margin-top: 200px;
        flex-direction: column-reverse;
    }

    .last-chapter-text, .last-chapter-img {
        width: 100%;
    }

    .last-chapter-img {
        max-height: 230px;
    }

    .last-chapter-text h1 {
        margin-top: 20px;
    }

    .last-chapter-datetime {
        margin-bottom: 20px;
    }
}