/* Section 1 de l'accueil (dernier chapitre publié) */

#last-chapter {
    padding-bottom: 70px;
    margin-bottom: 70px;
}

#last-chapter h2 {
    margin-bottom: 20px;
}

.last-chapter-item {
    display: flex;
    justify-content: space-between;
}

.last-chapter-text {
    width: 45%;
}

.last-chapter-text h3 {
    font-size: 4rem;
    line-height: 1.2;
    white-space: normal;
}

.last-chapter-datetime {
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
}

.last-chapter-img {
    width: 50%;
}

.last-chapter-extract {
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 35px;
}

/***
**** MEDIA QUERIES ****
***/

@media screen and (max-width: 1439px) { /* HIDPI */

    #last-chapter {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1199px) { /* Tablettes */

    .last-chapter-text h3 {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 767px) { /* Smartphones */
    .last-chapter-item {
        height: 550px;
        margin-top: 120px;
        flex-direction: column-reverse;
    }

    .last-chapter-text, .last-chapter-img {
        width: 100%;
    }

    .last-chapter-img img{
        max-height: 230px;
        display: block;
    }

    .last-chapter-text h3 {
        font-size: 1.7rem;
        margin-top: 15px;
    }

    .last-chapter-datetime {
        margin-bottom: 20px;
    }
}