/* Principal */

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    color: #7f888f;
    line-height: 1.65;
    outline: none; /* Supprime la bordure sur un élément actif (Ex : button) */
}

body {
    margin: auto;
}

.container {
    max-width: 1690px;
    margin: auto;
    padding: 0 6em;
}

.main-section {
    border-bottom: 2px solid #DDDEE0;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.7rem;
    display: inline-block;
    margin: 0 0 50px 0;
    padding: 0 15px 10px 0;
    border-bottom: 3px solid #f56a6a
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: "Roboto Slab", serif;
    color: #3d4449;
}

p {
    text-align: justify;
}

a {
    border-bottom: 1px dotted;
    color: #f56a6a;
    text-decoration: none;
}

strong {
    color: #3d4449;
}

img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 7px;
    -webkit-filter: grayscale(40%);
    filter: grayscale(50%);
}

button,
.button-link,
input[type="submit"], 
input[type="button"] {
    border-radius: 0.375em;
    border: 0;
    transition: background-color 300ms ease-in-out;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 0.8rem;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.075em;
    line-height: 3.5em;
    padding: 0 2.25em;
    text-align: center;
    text-transform: uppercase;
}

button,
.button-link,
input[type="button"] {
    box-shadow: inset 0 0 0 2px #f56a6a;
    color: #f56a6a;
    background-color: transparent;
}

button:hover,
.button-link:hover,
input[type="button"]:hover {
    background-color: rgba(245, 106, 106, 0.08);
}

input[type="submit"] {
    background-color: #f56a6a;
    box-shadow: none;
    color: #ffffff;
}

input[type="submit"]:hover {
    background-color: rgb(246, 120, 120, 0.80);
}

::-webkit-input-placeholder {
    color: #9fa3a6
}

::-moz-placeholder {
    color: #9fa3a6
}

:-ms-input-placeholder {
    color: #9fa3a6
}

::-ms-input-placeholder {
    color: #9fa3a6
}

::placeholder {
    color: #9fa3a6
}


/***
**** MEDIA QUERIES ****
***/

@media screen and (max-width: 1439px) { /* HIDPI */
	* {
        font-size: 12pt;
        line-height: 1.60;
    }	

    h1 {
        font-size: 3.4rem;
        line-height: 1.1;
        margin-bottom: 25px;
    }
    
    h2 {
        font-size: 1.5rem;
        margin: 0 0 45px 0;
    }
    
    h3 {
        font-size: 1.1rem;
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 1199px) { /* Tablettes */
    .container {
        padding: 0 4em;
    }

    * {
        font-size: 11pt;
        line-height: 1.60;
    }	

    h1 {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 1.2rem;
        margin: 0 0 40px 0;
    }
    
    h3 {
        font-size: 1rem;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 767px) { /* Smartphones */
    .container {
        padding: 0 2em;
    }

    h1 {
        font-size: 2.2rem;
    }
}