/* Tout le contenu admin */

/* Listes commentaires et chapitres */

#latest-chapters-table td,
#latest-comments-table td,
#all-chapters-table td,
#all-comments-table td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 50px; /* Sinon si contenu cellule trop long, width en % ne tient plus compte de la valeur */
}

#latest-chapters-table a,
#latest-comments-table a,
#all-chapters-table a,
#all-comments-table a {
    border-bottom: none;
}

#latest-chapters-table .fas,
#latest-comments-table .fas, 
#all-chapters-table .fas,
#all-comments-table .fas  {
    color: #f56a6a;
}

.chapter-number-col,
.comment-nochapter-col {
    width: 4%;
}

.chapter-title-col {
    width: 17%;
}

.chapter-date-col {
    width: 10%;
}

/* .chapter-extract-col {
    width: 51%; pas nécessaire occupera le restant
} */

.chapter-access-col,
.chapter-edit-col,
.chapter-delete-col,
.comment-edit-col,
.comment-delete-col,
.comment-counter-col {
    width: 6%;
}

.comment-date-col,
.comment-email-col {
    width: 14%;
}

.comment-author-col {
    width: 10%;
}

/* .comment-extract-col {
    width: 42%; pas nécessaire occupera le restant
} */

.chapter-number-cell,
.chapter-date-cell,
.chapter-access-cell,
.chapter-edit-cell,
.chapter-delete-cell,
.comment-date-cell,
.comment-nochapter-cell,
.comment-counter-cell,
.comment-edit-cell,
.comment-delete-cell {
    text-align: center;
}

/* Modification commentaires et chapitres */

input[type="text"], input[type="email"] {
    width: 20%;
    padding: 0 10px;
    border: solid 1px #CFCFCF;
    border-radius: 7px;
    box-sizing: border-box; /* Evite l'augmentation du width à cause du padding */
}

.admin-edit-input {
    margin-bottom: 10px;
}

.admin-delete-button {
    margin-top: 5px;
}

.delete-button a {
    border-bottom: none;
}